@import "../scss/colors";
form {
  color: $dark-color;
  background-color: $bright-color;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    label {
      width: 20%;
    }
    input {
      color: $text-color;
      font-size: 1rem;
      background-color: $bright-color;
      border: none;
      border-bottom: 1px solid $dark-color;
      margin: 0.5rem;
      width: 80%;
      height: 1.5rem;
    }
  }

}