@import "../scss/_colors";

.container {
  color: $text-color;
  p {
    font-size: 0.7rem;
  }
  .header {
      display: flex;
      width: 100%;
      .title {
        width: 90%;
        text-align: center;
      }
      .project-number {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  .show-info, .booth-info, .setup-info {
      display: flex;
      width: 100%;
      .info {
        height: 3rem;
        background-color: $bright-color;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0.5rem 0.5rem 0.5rem 0;
        width: 50%;
        &:last-of-type {
          margin: 0.5rem 0;
        }
        p {
          text-align: left;
        }
        h3 {
          text-align: center;
        }
      }
    }
  .note-list {
    ul {
      li {
        list-style: none;
        padding: 0.7rem 0;
      }
    }
  }
  .add-note {
    width: 100%;
    background-color: $bright-color;
    border-radius: 5px;
    color: $text-color;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    .note {
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        color: $text-color;
        font-size: 1rem;
        background-color: $bright-color;
        border: none;
        border-bottom: 1px solid $dark-color;
        height: 2rem;
        width: 95%;
      }
      .add-note-btn {
        background-color: $bright-color;
        border: none;
        color: $dark-color;
        width: 5%;
      }
    }
  }
}