@import "../../scss/colors";
.header {
  height: 15vh;
  display: flex;
  align-items: center;
  .container {
    color: $text-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      width: 15vh;
      height: 100%;
    }
    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}